<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

/* Style the body   https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_style_header */
body {
  font-family: Arial;
  margin: 0;
}

h1 {
  font-family: 'Coiny', cursive;
  margin: 0;
}

h2{
  font-family: 'Coiny', cursive;
  margin: 0;
  font-size: 40px;
  color: black;
}

h3{
  font-family: 'Fjalla One', sans-serif;
  margin: 5;
  font-size: 20px;
}

h4{
  font-family: 'Fjalla One', sans-serif;
  margin: 5;
  color: black;
  font-size: 20px;
}

p{
  font-family: Arial;
  margin:  5;
  color: black;
}

img {
  outline: 5px groove #2D5A77;
  margin: 10;
}

select {
       width: 150px;
       height: 20px;
       font-size: 10px;
       margin: 10px;
   }

input{
  width: 400px;
  height: 100px;
  font-size: 10px;
  margin: 10px;

}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: inherit;
  }
}

.animated {
  animation-duration: .5s;
  animation-name: fadein;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Header/Logo Title */
.header {
  padding: 50px;
  text-align: center;
  background: #2D5A77;
  color: white;
  font-size: 30px;

}



.Welcome{
  padding: 5px;
  text-align: center;
  background: white;
  color: #2D5A77;
  font-size: 20px;
}

.Emma{
  padding: 5px;
  text-align: center;
  background: white;
  color: #2D5A77;
  font-size: 20px;
}

.John{
  padding: 5px;
  text-align: center;
  background: white;
  color: #2D5A77;
  font-size: 20px;
}

.Sammie{
  padding: 5px;
  text-align: center;
  background: white;
  color: #2D5A77;
  font-size: 20px;
}


/* Style the counter cards W3Schools */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;

}

/* Cards Side by Side */
.column {
  float: left;
  width: 32%;
  padding: 0 10px;
}


/* Style Buttons */
.button {
  background-color: #2D5A77;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
