

/* Style the body   https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_style_header */
body {
  font-family: Arial;
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #2D5A77;
  color: white;
  font-size: 30px;
}

.Welcome{
  padding: 5px;
  text-align: center;
  background: white;
  color: #2D5A77;
  font-size: 20px;
}

.Emma{
  padding: 5px;
  text-align: center;
  background: white;
  color: #2D5A77;
  font-size: 20px;
}

.John{
  padding: 5px;
  text-align: center;
  background: white;
  color: #2D5A77;
  font-size: 20px;
}

.Sammie{
  padding: 5px;
  text-align: center;
  background: white;
  color: #2D5A77;
  font-size: 20px;
}
